<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Venture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Venture.Properties.Settings>
            <setting name="PricesSource" serializeAs="String">
                <value>input\prices.csv</value>
            </setting>
            <setting name="InstrumentsSource" serializeAs="String">
                <value>input\instruments.csv</value>
            </setting>
            <setting name="TransactionsSource" serializeAs="String">
                <value>input\transactions.csv</value>
            </setting>
            <setting name="DividendsSource" serializeAs="String">
                <value>input\dividends.csv</value>
            </setting>
            <setting name="CouponsSource" serializeAs="String">
                <value>input\coupons.csv</value>
            </setting>
            <setting name="ManualSource" serializeAs="String">
                <value>input\manual.csv</value>
            </setting>
            <setting name="PortfoliosSource" serializeAs="String">
                <value>input\portfolios.csv</value>
            </setting>
        </Venture.Properties.Settings>
    </userSettings>
</configuration>