<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Budziszewski.Venture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Budziszewski.Venture.Properties.Settings>
            <setting name="PricesSource" serializeAs="String">
                <value>prices.csv</value>
            </setting>
            <setting name="InstrumentsSource" serializeAs="String">
                <value>instruments.csv</value>
            </setting>
        </Budziszewski.Venture.Properties.Settings>
    </userSettings>
</configuration>